@model IEnumerable<ScannerApp2.Models.EmployeeModel>

@{
    ViewBag.Title = "EmployeeList";
}

<h2>View Employee List</h2>


<table class="table">
    <tr>
        @*k<th>
            @Html.DisplayNameFor(model => model.IdentifictionCardID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourtAccessRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCardNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.IdentifictionCardID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourtAccessRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDCardNumber)
        </td>
    </tr>
}

</table>
