@model IEnumerable<ScannerApp2.Models.ScannerLogModel>

@{
    Layout = "~/Views/Shared/ScannerLayoutPage.cshtml";
}

<!DOCTYPE html>
@{ var pass = ""; }
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Scanner2</title>
</head>
<body>
    @foreach (var item in Model)
    {
        pass = Html.DisplayFor(modelItem => item.DeclineReason).ToString();




        if (@pass == "Passed All")
        {
            pass = "green";
        }
        else
        {
            pass = "red";
        }

        <img src="~/Images/@(Html.DisplayFor(modelItem => item.IDCardNumber) + ".jpg")" class="img-thumbnail" alt="Scanned img 2" style="width:90%;border-color:@(pass.ToString());border-width:5px;">
        <table class="table">

            <tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccessLocationID)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessLocationID)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IDCardNumber)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCardNumber)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeclineReason)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.DeclineReason)
                </td>
            </tr>

        </table>
    }
</body>
</html>
