@model IEnumerable<ScannerApp2.Models.ScannerLogModel>

@{
    ViewBag.Title = "ScannerLog";
}

<h2>ScannerLog</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccessLogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessLocationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeclineReason)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AccessLogID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AccessLocationID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StationID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AccessDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IDCardNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DeclineReason)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
    </td>
</tr>
    }

</table>
